body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(../img/background/background_parede_tijolos.png);
    background-size: cover;
}

h1, h2 {
    margin-top: 20px;
}

/* Estilo para a caixa de login */
.login-card {
    background-color: rgba(0, 0, 0, 0.5); /* Preto transparente */
    border: 2px solid #8a2be2; /* Borda neon roxa */
    color: white; /* Texto branco */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.5); /* Sombra neon */
}

.login-card .card-header {
    text-align: center; /* Centraliza o texto do cabeçalho */
}

.login-card .form-control {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco transparente */
    color: white; /* Texto branco */
    border: 1px solid #8a2be2; /* Borda neon roxa */
}

.login-card .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder branco transparente */
}

.login-card .form-group label {
    color: #8a2be2; /* Cor do texto do rótulo */
}

.btn-login {
    margin-top: 20px; /* Espaçamento superior */
    border: 2px solid #ffff; /* Bordas neon mais grossas */
    color: #ffff; /* Cor do texto */
    font-weight: 900;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffff, 0 0 20px #ffff, 0 0 40px #ffff, 0 0 80px #ffff; /* Efeito de texto neon */
    background-color: transparent; /* Fundo transparente */
    width: 100%; /* Largura total */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilo para o menu de navegação */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #cccccc;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.carousel-item img {
    max-height: 500px;
    /* Define a altura máxima para as imagens */
    width: auto;
    /* Mantém a proporção da imagem */
    margin: 0 auto;
    /* Centraliza a imagem */
}

/* Estilo para o texto de introdução */
.intro-text p {
    font-size: 18px;
    color: #fff;
    /* Cor do texto */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    /* Sombra do texto */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente para melhor contraste */
    padding: 10px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
}

/* Estilo para o texto neon */
.neon-text {
    color: #8a2be2;
    /* Cor neon (roxo) */
    text-shadow: 0 0 5px #8a2be2, 0 0 10px #8a2be2, 0 0 20px #8a2be2, 0 0 40px #8a2be2, 0 0 80px #8a2be2;
}

.neon-text-white {
    color: #ffffff; /* Cor neon (branca) */
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
}


/* Estilo para os botões de conteúdo */
.btn-conteudo {
    border: 2px solid #8a2be2; /* Bordas neon mais grossas */
    color: #8a2be2; /* Cor do texto */
    text-shadow: 0 0 5px #8a2be2, 0 0 10px #8a2be2, 0 0 20px #8a2be2, 0 0 40px #8a2be2, 0 0 80px #8a2be2; /* Efeito de texto neon */
    background-color: transparent; /* Fundo transparente */
    width: 100%; /* Largura total */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilo para o conteúdo expansível */
.collapse-content {
    background-color: black; /* Fundo preto */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    border: 2px solid #8a2be2; /* Borda neon */
    border-radius: 5px; /* Bordas arredondadas */
    margin-top: 10px; /* Espaçamento superior */
}

.collapse-content img {
    display: block;
    margin: 0 auto 10px auto; /* Centraliza a imagem e adiciona espaçamento inferior */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

/* Estilo para o título dentro dos botões */
.btn-title {
    font-size: 1.2rem; /* Tamanho da fonte do título */
    font-weight: bold; /* Negrito para o título */
    margin-bottom: 5px; /* Espaçamento inferior */
}

/* Estilo para botões outline roxos */
.btn-outline-purple {
    color: #8a2be2;
    border-color: #8a2be2;
}

.btn-outline-purple:hover {
    color: #ffffff;
    border-color: #8a2be2;
}

.btn-outline-red {
    color: #ff0000;
    border-color: #ff0000;
}

.btn-outline-red:hover {
    color: #ffffff;
    border-color: #ff0000;
}

.btn-outline-green {
    color: #00ff00;
    border-color: #00ff00;
}

.btn-outline-green:hover {
    color: #ffffff;
    border-color: #00ff00;
}

.btn-outline-blue {
    color: #0000ff;
    border-color: #0000ff;
}

.btn-outline-blue:hover {
    color: #ffffff;
    border-color: #0000ff;
}

.btn-outline-magenta {
    color: #ff00ff;
    border-color: #ff00ff;
}

.btn-outline-magenta:hover {
    color: #ffffff;
    border-color: #ff00ff;
}

.btn-outline-yellow {
    color: #ffff00;
    border-color: #ffff00;
}

.btn-outline-yellow:hover {
    color: #ffffff;
    border-color: #ffff00;
}

.custom-bg {
    background-color: black;
    color: white;
}

/* Adicionando estilos personalizados para os projetos */
.project-image {
    height: 200px; /* Altura da imagem dos projetos */
    object-fit: cover;
}

.card.mb-4 {
    border-radius: 10px; /* Bordas arredondadas para os cards */
    overflow: hidden; /* Esconder qualquer conteúdo que ultrapasse as bordas */
}

.card-header button {
    font-size: 1.5rem; /* Tamanho da fonte do botão de colapso */
    text-align: left; /* Alinhar o texto à esquerda */
    width: 100%; /* Ocupa toda a largura do card-header */
}

.card-body {
    font-size: 1rem; /* Tamanho da fonte do texto dentro do card-body */
}

@media (max-width: 768px) {
    .card-header button {
        font-size: 1.2rem; /* Tamanho da fonte menor em dispositivos móveis */
    }
}

/* Estilo para a lista de ferramentas de aprendizagem */
.ferramentas-intro {
    margin-bottom: 15px; /* Espaçamento inferior entre o parágrafo e a lista */
}

.ferramentas-lista {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

.ferramentas-item {
    margin-bottom: 15px; /* Espaçamento inferior entre os itens */
}

.ferramentas-link {
    color: #8a2be2; /* Cor do link */
    text-decoration: none; /* Remove sublinhado */
}

.ferramentas-link:hover {
    text-decoration: underline; /* Adiciona sublinhado no hover */
}

/* Estilo para o rodapé */
footer {
    background-color: #000000;
    color: #ffffff;
}

footer p {
    margin: 0;
}

/* Novos estilos para cards maiores */
.card-maior {
    background-color: black; /* Fundo preto para contraste */
    color: white; /* Texto branco para contraste */
    border: 2px solid; /* Borda de 2px */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Efeito de sombra neon */
}

.card-maior .card-body {
    text-align: center;
}

.card-maior .tiktok-embed {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px; /* Bordas arredondadas para os cards */
    overflow: hidden; /* Esconder qualquer conteúdo que ultrapasse as bordas */
}

.card-maior iframe {
    width: 100%;
    height: auto;
    max-width: 560px; /* Limita a largura máxima do iframe */
    max-height: 315px; /* Limita a altura máxima do iframe */
    margin-bottom: 10px;
}

.g-ytsubscribe {
    display: block;
    margin: 10px auto; /* Centraliza o botão de inscrição */
}

@media (max-width: 768px) {
    .card-maior iframe {
        max-width: 100%;
        max-height: auto;
    }
}

#marcoCard {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor contraste */
    border-color: #ff0000; /* Borda neon vermelha */
}

#abrilCard {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor contraste */
    border-color: #00ff00; /* Borda neon verde */
}

#maioCard {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor contraste */
    border-color: #0000ff; /* Borda neon azul */
}

#junhoCard {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor contraste */
    border-color: #ff00ff; /* Borda neon magenta */
}

#julhoCard {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor contraste */
    border-color: #ffff00; /* Borda neon amarela */
}
